<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" v-model='input'>
    显示<span></span>
</body>
</html>
<script>
    let res = {}
    Object.defineProperty(res, 'username', {
        set: function(value) {
            document.querySelector("span").innerHTML = value
        },
        get: function() {
            return this.username
        }
    })
    document.querySelector("[v-model='input']").addEventListener('keyup', function() {
        res.username = event.target.value
    })
</script>